[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restx = "*"
flask = "*"
flask-cors = "*"
flask-session = "*"
sqlalchemy = "*"
redis = "*"
flask-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
